<div class="container wrapper" *ngIf="isLoaded">
  <div>
    <img
      [src]="inService.getImage(items[id].brandImage)"
      alt=""
      class="img-brand"
    />
    <div class="mat-h4"><strong>Brand:</strong> {{ items[id].brand }}</div>
  </div>

  <div class="mat-h4"><strong>Product name:</strong> {{ items[id].name }}</div>

  <div>
    <img
      [src]="inService.getImage(items[id].kindImage)"
      alt=""
      class="img-brand"
    />
    <div class="mat-h4"><strong>Kind:</strong> {{ items[id].kind }}</div>
  </div>

  <div class="mat-h4">
    <strong>Price:</strong> €{{ inService.getPrice(items[id].price) }}
  </div>
</div>

<!-- name: "Casa mia!"
brand: "Generali"
brandImage: "brand_generali.png"
kind: "Hogar"
kindImage: "kind_home.png"
price: "300" -->
