<div class="container">
  <h2>
    About this Angular Material Web App
    <a href="https://github.com/artworkjpm/insurance-app" target="_blank"
      >Github repo</a
    >
  </h2>
  <h3>Things to impress:</h3>
  <ul>
    <li>Completed in just under one week after receiving the brief</li>
    <li>Search by Kind easily with one click</li>
    <li>
      Routing to products, clicking on the product name goes to a details page,
      go back and the search page is nicely cached (using RouteReuseStrategy
      from Angular Router )
    </li>
    <li>Using Snackbar Material component to "Undo" delete of favourite</li>
    <li>
      Fully mobile responsive, no use of Bootstrap, just Material and some
      Angular Flex Layout
    </li>
    <li>
      Shared functions placed in a Service called InsService, to not repeat code
    </li>
    <li>
      The app meets the demands of the brief, doing the complex add and delete
      to the Favourites modal
    </li>
    <li>Some Unit tests in the Testing folder, done during TDD</li>
  </ul>

  <h3>About JPM</h3>
  <p>
    This was a fun test to do and a pleasure to work with Angular Material,
    building an app from zero.
  </p>
  <p>
    I am enthusiastic to work for your company and to work in those impressive
    in Tech City Offices.
  </p>
  <p>
    Just for the record, I have a good level of Spanish after living here since
    2016 and attending several Spanish Schools whilst here.
  </p>

  <h3>Contact</h3>
  <p>johnnymoran44@hotmail.com</p>
  <p>Tel: 695966706</p>
</div>
