<h1 mat-dialog-title>Favourites</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      name="name"
      placeholder="Search for favourite..."
      (keyup)="applyFilter($event.target.value)"
    />
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort>
    <!-- Favourite Column -->
    <ng-container matColumnDef="addToFav">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item" class="favorite">
        <mat-icon
          (click)="
            item.clicked = !item.clicked; checkRemove(item.clicked, item)
          "
          [ngClass]="{ red: item.clicked }"
          >favorite</mat-icon
        >
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price" *ngIf="showPrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell *matCellDef="let item">
        €{{ inService.getPrice(item.price) }}
      </mat-cell>
    </ng-container>

    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Insurer</mat-header-cell
      >
      <mat-cell *matCellDef="let item">
        <div class="brandCont">
          <div>
            <img
              [src]="inService.getImage(item.brandImage)"
              class="brand-image"
              alt="{{ item.brand }}"
            />
          </div>
          <div>
            {{ item.brand }}
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Kind Column -->
    <ng-container matColumnDef="kind">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Kind</mat-header-cell>
      <mat-cell *matCellDef="let item">
        <div class="brandCont">
          <div>
            <img
              [src]="inService.getImage(item.kindImage)"
              class="brand-image"
            />
          </div>
          <div>
            {{ item.kind }}
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
  ></mat-paginator>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Close</button>
</div>
