.navbar {
  justify-content: space-between;
  margin-bottom: 20px;

  div {
    outline: none;
    cursor: pointer;
  }
  .mat-badge {
    position: relative;
    left: -11px;
    top: 11px;
  }
}

span {
  outline: none;
  margin: 0 10px;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .navbar {
    padding: 0 200px 0 100px;
  }
}
