.navbar {
  justify-content: space-between;
  margin-bottom: 20px;
  div {
    outline: none;
    cursor: pointer;
  }
  .mat-badge {
    position: relative;
    left: 8px;
    top: 8px;
  }
}

span {
  outline: none;
  margin-right: 2rem;
  cursor: pointer;
}
