/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  padding: 0 15px;
  mat-cell,
  mat-footer-cell,
  mat-header-cell {
    padding: 0px 10px;
  }
}
.name-cell {
  width: 280px;
  cursor: pointer;
}

.hover-cell {
  cursor: pointer;
}

.hover-cell:hover,
.name-cell:hover {
  color: #3f51b5;
}

.submit {
  button {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

.brand-image {
  height: 30px;
}
.kind-image {
  height: 20px;
}

.brandCont {
  padding: 10px 0px;
}

.chip-space {
  margin-left: 5px;
  .chipGreen {
    background-color: #a3eca3;
  }

  .mat-standard-chip:focus::after {
    opacity: 0;
  }
}

.choices {
  display: -webkit-box;
}

.favorite {
  cursor: pointer;
}

.red {
  color: red;
}
.cdk-overlay-pane {
  max-width: 90vw !important;
}

@media screen and (max-width: 720px) {
  .mat-dialog-container {
    padding: 17px !important;
  }
}
